body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    place-content: center;
    align-items: center;
    gap: 10px;
}

header {
    background-color: #ffcee1;
    color: #5c5c5c;
    text-shadow: 2px 2px rgb(205, 205, 205);
    padding: 1em;
    text-align: center;
    font-family: illegalc;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    font-size: 1.2em;
    font-family: elegant;
    text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
    position: relative;
}

nav a {
    text-decoration: none;
    color: inherit;
    color: rgb(91, 91, 91);
}

section {
    padding: 30px;
}

footer {
    background-color: #5c5c5c;
    color: #ffcee1;
    text-align: center!important;
    position: relative;
    bottom: 0;
    width: 100%;
}

nav li:hover {
	transform: skew(10deg);
}
nav li::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: var(--bgcolor);
	height: 3rem;
	overflow: hidden;
	transition: all 300ms ease;
	padding-left: 20px;
}
nav li:hover::before {
	top: -3px;
	left: 0px;
	color: hotpink;
}

nav li::after {
	content: "";
	height: 1.3px;
	width: 0;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: hotpink;
	transition: all 300ms ease;
}
nav li:hover::after {
	width: 120%;
	outline: 2px solid #5c5c5c;
}

h2 {
    color: hotpink;
    text-shadow: 2px 2px rgb(174, 174, 174);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-bottom: -4vh;
}

@font-face {
    font-family: dream;
    src: url('fonts/dream_girl_2/Dream Girl2.otf');
}

@font-face {
    font-family: elegant;
    src: url(fonts/elegant_3/ELEGANT.ttf);
}

@font-face {
    font-family: anoxicl;
    src: url(fonts/anoxic/Anoxic-Light.ttf);
}

@font-face {
    font-family: anoxiclo;
    src: url(fonts/anoxic/Anoxic-LightOblique.ttf);
}

@font-face {
    font-family: anoxicom;
    src: url(fonts/anoxic/AnoxicOutline-Medium.ttf);
}

@font-face {
    font-family: anoxicsm;
    src: url(fonts/anoxic/AnoxicSC-Medium.ttf);
}

@font-face {
    font-family: illegalc;
    src: url('fonts/illegal_curves/Illegal Curves Bold.otf');
}

.box-personal-info {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    background-color: rgb(255, 242, 250);
    padding: 20px;
    text-align: center;
    position: relative;
    max-width: 100%;
    height: 65vh;
    border-radius: 15px;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 3rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
}

.box-personal-info .box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #484848;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 2rem;
}